<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>
    $( "#country" )
  .focusout(function() {
      $.getJSON("http://localhost:10112/api/onlycityapi?country=Україна", function (data) {
          var items = [];
          $.each(data, function (key, val) {
              items.push("<option id='" + key + "'>" + val.City + "</option>");
          });

          $("<select />", {
              "class": "city enjoy-css_input",
              "name":"city",
              html: items.join("")
          }).appendTo("#form10")
      });
  });

</script>
<form action="/AddressBank/_GetAllBanksByCityMathod" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#results" id="form10" method="post">

        <select class=" enjoy-css_input first" name="country" id="country">
            <option>Україна</option>
        </select>
   
  
        
        <input type="submit" class="enjoy-css_button" value="Пошук" />
</form>
    <div id="results"></div>
