
@{Html.RenderPartial("_CountryList");}
<input type="text" name="address" />
@{Html.RenderPartial("_CurrencyList");}
<select name="buysell">
    <option>Купівля</option>
    <option>Продаж</option>
</select>
<input type="submit" />