
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<form action="/AddressBank/_GetAllBanksByBankMathod" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#results" id="form0" method="post">
    <select class="enjoy-css_input first" name="country">
        <option>Україна</option>
    </select>
    
        @{Html.RenderPartial("_BankList");}
     
    <input type="submit" class="enjoy-css_button" value="Пошук">
</form>
<div id="results"></div>
