<div class="chart">
    <div class="ct-chart ct-golden-section"></div>
</div>
<script>
    new Chartist.Line('.ct-chart', {
  labels: [ '24.08.7722', '24.08.7722', '24.08.7722', '24.08.7722', '24.08.7722', '24.08.7722', '24.08.7722', '24.08.7722'],
  series: [
    [5, 229, 7, 8, 5, 3, 9.04, 54]
  ]
}, {
  low: 0,
  showArea: false
});
</script>