@model IEnumerable<ISharpConvertor.UIModels.OnlyRateModel>
<section id="wrapper">
    <div class="container">
        <div class="rectangle">
            <h2>Списки Валют</h2>

        </div>

        <div class="left_tri"></div>
        <div class="right_tri"></div>
        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
        <div id="content">
        @foreach (var item in Model)
        {
            
            using (Ajax.BeginForm("_GetRates", new AjaxOptions{ UpdateTargetId = "results" }))
            {
            <input type="hidden" name="currency" value="@item.Currency">
            <input type="submit" class="enjoy-css_button currency-btn" value="@item.Currency">
            }  
        }
        <div id="results">

        </div>
        
    </div>
</section>